@inherits LayoutComponentBase

<PageTitle>KInspector</PageTitle>

<div class="antialiased h-full bg-gray-50 dark:bg-gray-900">
    <NavMenu />

    <main class="p-6 pl-12 md:ml-64 h-auto">
        @Body
    </main>
</div>
