<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>KInspector</title>
    <link rel="stylesheet" href="./CSS/foundation.min.css">
    <link rel="stylesheet" href="./CSS/style.css">
    <link rel="stylesheet" href="./CSS/loader.css">
</head>
<body>
    <div ng-view></div>

    <!-- TEMPLATE FOR THE KENTICO SETUP PAGE -->
    <script type="text/ng-template" id="partials/target-setup.html">
        <div class="panel panel-info">
            <p>
                Welcome to an application for analyzing Kentico instances.
            </p>
            <p>
                It <strong>doesn't modify any data, unless stated otherwise</strong>, but it is not recommended to run it on production server.
            </p>
        </div>
        <div data-knl-error-message></div>
        <form>
            <fieldset>
                <legend>Target setup</legend>

                <div class="row">
                    <div class="small-5">
                        <label>
                            Database Server
                            <input class="form-control" required="required" ng-model="model.config.Server" type="text" id="configServer" placeholder="Enter server url..." />
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="small-5">
                        <label>
                            Database Name
                            <input class="form-control" required="required" ng-model="model.config.Database" type="text" id="configDatabase" placeholder="Enter the database..." />
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="small-5">
                        <label>
                            <input type="radio" ng-model="model.config.IntegratedSecurity" value="true" checked="checked" >
                            Use integrated Windows authentication
                        </label>
                        <label>
                            <input type="radio" ng-model="model.config.IntegratedSecurity" value="false">
                            Use SQL Server account
                        </label>
                    </div>
                </div>

                <div ng-show="model.config.IntegratedSecurity == 'false'">
                    <div class="row">
                        <div class="small-5">
                            <label>
                                Database User
                                <input class="form-control" ng-required="!model.config.IntegratedSecurity" ng-model="model.config.User" type="text" id="configUser" placeholder="Enter the username..." />
                            </label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="small-5">
                            <label>
                                Database Password
                                <input class="form-control" ng-required="!model.config.IntegratedSecurity" ng-model="model.config.Password" type="password" id="configPassword" placeholder="Enter the password..." />
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="small-5">
                        <label>
                            Kentico URL
                            <input class="form-control" required="required" ng-model="model.config.Url" type="text" id="configUrl" placeholder="Enter URL on which the Kentico runs..." />
                        </label>
                    </div>
                </div>

                <div class="row">
                    <div class="small-5">
                        <label>
                            Kentico filesystem path
                            <input class="form-control" required="required" ng-model="model.config.Path" type="text" id="configPath" placeholder="E.g. C:\inetpub\wwwroot\myKenticoInstance\CMS" />
                        </label>
                    </div>
                </div>

                <div class="row">
                    <button style="width: 215px;" type="submit" class="button login-button" ng-click="connect()">
                        <span ng-hide="model.showLoader">Connect to Kentico</span>
                        <knl-loader ng-show="model.showLoader" />
                    </button>
                </div>
            </fieldset>
        </form>
    </script>
    <!-- END OF TEMPLATE FOR THE KENTICO SETUP PAGE -->
    <!-- TEMPLATE FOR THE KENTICO MAIN MENU PAGE -->
    <script type="text/ng-template" id="partials/main-menu.html">
        <div style="padding: 1rem;">
            <div data-knl-error-message></div>
            <div class="small-12 large-2 columns">
                <knl-modules-simple-sidebar data-modules="model.modules"></knl-modules-simple-sidebar>
            </div>
            <div class="small-12 large-2 columns end">
                <ul class="main-menu">
                    <li>
                        <button class="button" ng-click="setupInstance()">Instance setup</button>
                    </li>
                    <li>
                        <button type="submit" class="button" ng-click="analyse()">
                            <span ng-hide="model.showLoader">Analysis</span>
                            <knl-loader ng-show="model.showLoader" />
                        </button>
                    </li>
                    <li>
                        <button class="button" ng-click="analyse('Security')">Analysis - Security</button>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <!-- END OF TEMPLATE FOR THE KENTICO MAIN MENU PAGE -->
    <!-- TEMPLATE FOR THE PAGE WITH THE SETUP -->
    <script type="text/ng-template" id="partials/setup-instance.html">
        <div class="panel panel-info">
            <p>
                The Setup <strong>does modify data</strong>, do not run any module if you do not want to perform any changes.
            </p>
        </div>
        <div style="padding: 1rem;">
            <div data-knl-error-message></div>
            <div class="small-12 large-2 columns">
                <knl-modules-sidebar data-modules="model.modules"></knl-modules-sidebar>
            </div>
            <div class="small-12 large-10 columns end">
                <div ng-repeat="m in model.modules | orderBy : ['Priority', 'Name']" data-knl-module="m" style="margin-bottom: 1rem;"></div>
            </div>
        </div>
    </script>
    <!-- END OF TEMPLATE FOR THE PAGE WITH THE SETUP -->
    <!-- TEMPLATE FOR THE PAGE WITH THE RESULTS -->
    <script type="text/ng-template" id="partials/results.html">
        <div style="padding: 1rem;">
            <div data-knl-error-message></div>
            <div class="small-12 large-2 columns">
                <knl-modules-sidebar data-modules="model.modules"></knl-modules-sidebar>
            </div>
            <div class="small-12 large-10 columns end">
                <div ng-repeat="m in model.modules | orderBy : ['Priority', 'Name']" data-knl-module="m" style="margin-bottom: 1rem;"></div>
            </div>
        </div>
    </script>
    <!-- END OF TEMPLATE FOR THE PAGE WITH THE RESULTS -->
    <!-- TEMPLATE FOR THE SIDEBAR ON THE MAIN MENU PAGE -->
    <script type="text/ng-template" id="partials/modules-simple-sidebar.html">
        <div class="sidebar">
            <div class="panel">
                <ul class="sidebar-overview">
                    <li>Server: {{model.serverName}}</li>
                    <li>Database: {{model.databaseName}}</li>
                </ul>
            </div>

            <div>
                <ul class="sidebar-button-list">
                    <li>
                        <button class="button alert tiny sidebar-button" ng-click="disconnect()">Disconnect</button>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <!-- END OF TEMPLATE FOR THE SIDEBAR ON THE MAIN MENU PAGE -->
    <!-- TEMPLATE FOR THE SIDEBAR ON THE RESULTS PAGE -->
    <script type="text/ng-template" id="partials/modules-sidebar.html">
        <div class="sidebar">
            <div class="panel">
                <ul class="sidebar-overview">
                    <li>Server: {{model.serverName}}</li>
                    <li>Database: {{model.databaseName}}</li>
                </ul>
            </div>

            <div>
                <ul class="sidebar-button-list">
                    <li>
                        <button class="button tiny sidebar-button" ng-click="mainMenu()">Main menu</button>
                    </li>
                    <li>
                        <div class="export-menu">
                            <button class="button tiny sidebar-button" ng-click="selectorsToggle()">Export</button>
                            <div class="export-menu-radiobuttons" ng-show="selectorsVisible()">
                                <select name="repeatSelect" id="repeatSelect" ng-model="model.exportModuleSelection" ng-options="module.ModuleDisplayName for module in model.exportModulesMetaData" />
                                <button class="button tiny sidebar-button" ng-click="exportReport()">Export selected modules</button>
                            </div>
                        </div>
                    </li>
                    <li>
                        <button class="button alert tiny sidebar-button" ng-click="disconnect()">Disconnect</button>
                    </li>
                </ul>
            </div>
        </div>
    </script>
    <!-- END OF TEMPLATE FOR THE SIDEBAR ON THE RESULTS PAGE -->
    <!-- TEMPLATE FOR THE CONTAINER OF THE MODULE - THE COLORED PANEL WITH AN ARROW POINTING DOWN/UP -->
<script type="text/ng-template" id="partials/module-item-container.html">
        <div class="module-container">
			<nav ng-class="{pointer: model.moduleLoaded}" ng-click="toggleResultsVisibility()" class="{{model.resultClass}} top-bar" data-topbar role="navigation">
				<ul class="title-area">
					<li class="name">
						<h1><span class="results-module-name">[{{moduleMetaData.Category || 'General'}}] {{moduleMetaData.Name}}</span></h1>
					</li>
				</ul>

                <section class="top-bar-section">
                    <ul class="right">
                        <li ng-show="!commentsVisible && !model.moduleLoaded && !model.moduleLoading" class="active" ng-click="toggleCommentsVisibility()"><a href="javascript:void(0);">Show Comments</a></li>
                        <li ng-show="commentsVisible && !model.moduleLoaded && !model.moduleLoading" class="active" ng-click="toggleCommentsVisibility()"><a href="javascript:void(0);">Hide Comments</a></li>
                        <li ng-show="!model.moduleLoaded && !model.moduleLoading" class="active" ng-click="loadModule(false, true)"><a href="javascript:void(0);">Load the module</a></li>
                        <li ng-show="model.moduleLoading"><div style="padding-top: 0.5rem;"><knl-loader /></div></li>
                        <li ng-show="model.moduleLoaded"><a class="reload-link" href="javascript:void(0);" ng-click="loadModule(true, true)">↺</a></li>
                        <li ng-show="model.moduleLoaded"><div style="padding-left: 1rem; padding-top: 1rem; padding-right: 1rem;"><div ng-class="{'arrow-down': !resultsVisible, 'arrow-up': resultsVisible}"></div></div></li>
                        <li ng-show="selectorsVisible()" name="selectModule" ng-model="selectModule" ng-value="moduleMetaData.Name" ng-click="toggleModuleSelection(moduleMetaData.Name); $event.stopPropagation();">
                            <div style="padding-left: 1rem; padding-right: 1rem;"><input type="checkbox" style="width: 1rem;" /></div>
                        </li>
                    </ul>
                </section>
            </nav>
            <div class="panel" ng-show="commentsVisible && !model.moduleLoaded && !model.moduleLoading">
                <div class="panel"><pre class="module-comment-breakable">{{moduleMetaData.Comment}}</pre></div>
            </div>
            <div class="panel" ng-show="resultsVisible">
				<div class="panel"><pre class="module-comment-breakable">{{moduleMetaData.Comment}}</pre></div>              
                <div ng-transclude></div>
                <div class="results-footer" ng-show="model.results.ResultComment">{{model.results.ResultComment}}</div>
            </div>
        </div>
    </script>
    <!-- END OF TEMPLATE FOR THE CONTAINER OF THE MODULE - THE COLORED PANEL WITH AN ARROW POINTING DOWN/UP -->
    <!-- TEMPLATE FOR MODULE TYPE - STRING -->
    <script type="text/ng-template" id="partials/module-item-string.html">
        <knl-module-container>
            <p>{{model.results.Result}}</p>
        </knl-module-container>
    </script>
    <!-- END OF TEMPLATE FOR MODULE TYPE - STRING -->
    <!-- TEMPLATE FOR MODULE TYPE - STRING (TRUSTED) -->
    <script type="text/ng-template" id="partials/module-item-string-trusted.html">
        <knl-module-container>
            <p ng-bind-html="model.results.Result"></p>
        </knl-module-container>
    </script>
    <!-- END OF TEMPLATE FOR MODULE TYPE - STRING (TRUSTED) -->
    <!-- TEMPLATE FOR MODULE TYPE - LIST -->
    <script type="text/ng-template" id="partials/module-item-list.html">
        <knl-module-container>
            <div style="white-space: nowrap; overflow-x: auto;">
                <ul class="response-list">
                    <li ng-repeat="resultString in model.results.Result track by $index">{{resultString}}</li>
                </ul>
            </div>
        </knl-module-container>
    </script>
    <!-- END OF TEMPLATE FOR MODULE TYPE - LIST -->
    <!-- TEMPLATE FOR MODULE TYPE - LIST (TRUSTED) -->
    <script type="text/ng-template" id="partials/module-item-list-trusted.html">
        <knl-module-container>
            <div style="white-space: nowrap; overflow-x: auto;">
                <ul class="response-list">
                    <li ng-repeat="resultString in model.results.Result track by $index" ng-bind-html="resultString"></li>
                </ul>
            </div>
        </knl-module-container>
    </script>
    <!-- END OF TEMPLATE FOR MODULE TYPE - LIST (TRUSTED) -->
    <!-- TEMPLATE FOR MODULE TYPE - TABLE -->
    <script type="text/ng-template" id="partials/module-item-table.html">
        <knl-module-container>
            <knl-table table-data="model.results.Result"></knl-table>
        </knl-module-container>
    </script>
    <!-- END OF TEMPLATE FOR MODULE TYPE - TABLE -->
    <!-- TEMPLATE FOR MODULE TYPE - LIST OF TABLES -->
    <script type="text/ng-template" id="partials/module-item-tablelist.html">
        <knl-module-container>
            <div ng-repeat="(name, table) in model.results.Result">
                <h3>{{name}}</h3>
                <knl-table table-data="table"></knl-table>
            </div>
        </knl-module-container>
    </script>
    <!-- END OF TEMPLATE FOR MODULE TYPE - LIST OF TABLES -->
    <!-- TEMPLATE FOR A DIRECTIVE THAT CAN SHOW ARRAY/OBJECT AS A TABLE (knlTable) -->
    <script type="text/ng-template" id="partials/table.html">
        <div ng-show="data" class="knl-table">
            <table style="width: 100%">
                <thead ng-show="model.tableHasHeaders">
                    <tr>
                        <th ng-repeat="header in model.headers">{{header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in data track by $index">
                        <td ng-repeat="col in row track by $index">{{row[model.headers[$index]]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </script>
    <!-- END OF TEMPLATE FOR A DIRECTIVE THAT CAN SHOW ARRAY/OBJECT AS A TABLE (knlTable) -->
    <!-- TEMPLATE FOR THE LOADER IMAGE -->
    <script type="text/ng-template" id="partials/loader.html">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </script>
    <!-- END OF TEMPLATE FOR THE LOADER IMAGE -->

    <script src="./Scripts/Vendor/jquery.min.js"></script>
    <script src="./Scripts/Vendor/jquery.stickytableheaders.min.js"></script>
    <script src="./Scripts/Vendor/angular.js"></script>
    <script src="./Scripts/Vendor/angular-route.min.js"></script>
    <script src="./Scripts/Services.js"></script>
    <script src="./Scripts/Directives.js"></script>
    <script src="./Scripts/Module.js"></script>
</body>
</html>
