@page "/"
@using KInspector.Blazor
@using Microsoft.AspNetCore.Components.Web
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="~/css/app.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="img/favicon.ico"/>
    <script>
        window.initializeFlowbite = () => {
            initFlowbite();
        }

        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body class="h-full bg-gray-50 dark:bg-gray-900">
    <component type="typeof(App)" render-mode="ServerPrerendered" />
    
    <!-- Workaround for classes that aren't processed by the "css" task -->
    <div class="hidden bg-green-400 bg-red-400 bg-blue-400 bg-orange-400 bg-gray-100 dark:bg-gray-700 text-gray-500 dark:text-gray-400 text-gray-700"></div>

    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>
