@page "/actions"

<PageTitle>Actions</PageTitle>

<h1 class="mb-8 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white md:text-5xl lg:text-6xl">Actions</h1>

<div id="alert-additional-content-1" class="w-1/2 p-4 mb-4 text-blue-800 border border-blue-300 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
    <div class="flex items-center">
        <svg class="flex-shrink-0 w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>
        <span class="sr-only">Info</span>
        <h3 class="text-lg font-medium">Here be dragons!</h3>
    </div>
    <div class="mt-2 mb-4 text-sm">
        <p class="mb-2">Actions <b>modfiy data</b> in the connected database. Please ensure you have a backup before running actions!</p>
        <p>When you run an action without any parameters, the corresponding database table will be shown, allowing you to determine what parameters to supply. To modify the data, enter the parameters in the form and re-run the action.</p>
    </div>
    <button type="button"
        data-dismiss-target="#alert-additional-content-1" aria-label="Close"
        class="text-blue-800 bg-transparent border border-blue-800 hover:bg-blue-900 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-200 font-medium rounded-lg text-xs px-3 py-1.5 text-center dark:hover:bg-blue-600 dark:border-blue-600 dark:text-blue-400 dark:hover:text-white dark:focus:ring-blue-800">
        Dismiss
    </button>
</div>

<ActionList />
