@page "/"
@page "/instances"
@using KInspector.Core.Models
@using KInspector.Core.Services.Interfaces
@inject IConfigService configService
@inject IJSRuntime js

<PageTitle>Instances</PageTitle>

@{
    var instances = configService.GetConfig().Instances;
}

<h1 class="mb-8 text-4xl font-extrabold leading-none tracking-tight text-gray-900 dark:text-white md:text-5xl lg:text-6xl">Instances</h1>

<button type="button"
    data-modal-target="new-instance-modal" data-modal-toggle="new-instance-modal"
    class="px-5 py-2.5 mb-4 text-sm font-medium text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5" />
    </svg>
    New instance
</button>

@if (instances.Any())
{
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        DLL Version
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Database Version
                    </th>
                    <th scope="col" class="px-6 py-3">
                        # of Sites
                    </th>
                    <th scope="col" class="px-6 py-3"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var instance in instances)
                {
                    <InstanceRow Instance="@instance" />
                }
            </tbody>
        </table>
    </div>
}

<NewInstanceModal />

@code {
    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            await js.InvokeVoidAsync("window.initializeFlowbite");
        }
    }
}
