---
---

body {
  font-family: Roboto, sans-serif;

  .top.bar {
    background: #262524 !important;
    padding: 0.3em 1em !important;
    display: flex;
    color: #fff;

    .headline {
      text-transform: uppercase;
      font-size: 1.7em;
      line-height: 1em;
      letter-spacing: 0.02em;

      &:before {
        height: 1.5em;
        width: 1.5em;
        content: ' ';
        background-color: #f05a22;
        background-image: url(./kentico.svg);
        display: inline-block;
        vertical-align: middle;
        margin: 0 0.1em 0.2em 0;
      }
    }

    .github {
      margin-left: auto;
      font-size: 1.3em;

      a {
        vertical-align: sub;

        &:after {
          height: 1.5em;
          width: 1.5em;
          content: ' ';
          color: #fff;
          background-image: url(./github.svg);
          display: inline-block;
          vertical-align: middle;
          margin: 0.2em 0em 0.5em 0.3em;
        }
      }
    }
  }

  .sticky {
    padding-top: 1em;
  }

  li {
    margin: 0.3em 0;
  }

  thead {
    font-size: 1.2em;

    &:after {
      line-height: 1em;
      content: '\200C';
      display: block;
    }
  }

  code {
    &.highlighter-rouge {
      background-color: #eee;
      padding: 0.1em 0.2em;
      border-radius: 0.2em;
      color: #8f5536;
      font-weight: bold;
    }
  }

  .highlighter-rouge {
    .highlight:not(pre) {
      background: none;
    }

    pre {
      border-radius: 0.5em;
      padding: 1em;
      background-color: #383838;
    }
  }

  blockquote {
    padding-left: 1em;
    border-left: 0.1em dotted #262524;
  }

  footer {
    position: fixed;
    bottom: 0;
    padding: 1em;
  }
}
